@page "/"

@using SZIGRA
@using SZIGRA.Algorithm
@using SZIGRA.Enums
@using SZIGRA.Player
@using SZIGRABlazor.Board
<div>
    <div class="tictactoe-game">
        <Header />
        <div style="margin-bottom: 2vh">

            <MudSelect @bind-Value="pickedGameMode" Label="Select game-mode" AdornmentIcon="@Icons.Material.Filled.PlayCircle" AnchorOrigin="Origin.BottomCenter" AdornmentColor="Color.Secondary" Style="margin-bottom:1vh; width: 50px">
                <MudSelectItem Value="@(GameMode.PlayerVsComputer)"> Player vs Computer</MudSelectItem>
                <MudSelectItem Value="@(GameMode.PlayerVsPlayer)">Player vs Player</MudSelectItem>
                <MudSelectItem Value="@(GameMode.ComputerVsComputer)">Computer vs Computer</MudSelectItem>
            </MudSelect>
            <MudNumericField @bind-Value="BoardSize" Label="Board size" Variant="Variant.Text" Min="3" Max="10" Style="margin-bottom:1vh" />
            <MudNumericField @bind-Value="MaxDepth" Label="Difficulty" Variant="Variant.Text" Min="1" Max="@(BoardSize*BoardSize-1)" Style="margin-bottom:1vh" />
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="OnStartButtonClicked">@StartButtonText</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="ComputerMove" StartIcon="@Icons.Material.Filled.Android" Disabled="@(isComputerMoving || isPlayer1Move == false)">
                @if (isComputerMoving && isPlayer1Move)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Moving..</MudText>
                }
                else
                {
                    <MudText>MOVE</MudText>
                }
            </MudButton>
            @if (StartButtonText == "RESTART")
            {
                    @if (isPlayer1Move)
                    {
                        <span style="color: rgb(242,130,22); font-size: 3vh;">O</span>
                    }
                    else
                    {
                        <span style="color: rgb(0,134,229);font-size: 3vh;">X</span>
                    }
                    <span>is moving</span>
            }
        </div>
        <Board 
               @ref="board"
               Width=@BoardSize
               Height=@BoardSize
               GameState="GameStateToDraw"
               OnFieldClicked='OnFieldClicked'
               IsFinalMove="()=> gameResult != GameResultEnum.GameOngoing"
               GetWinnerCoords="()=> winningCords"
               IsDraw="()=>gameResult == GameResultEnum.Draw" />
    </div>
</div>