@using System.Globalization
@inject IJSRuntime JsRuntime;

<div class="row justify-content-center h-100">
    <div class="tictactoe-container" id="tictactoe-container">
        <div class="tictactoe-result @ShowResultClass" >
            @((MarkupString)Winner)
        </div>
        <span style="@BlurStyles">
            @{
                for (var i = 0; i < this.Height; i++)
                {
                        <div class="row justify-content-center" style=" height: @CalculateRowHeight()">
                            @{
                            for (var j = 0; j < this.Width; j++)
                            {
                                var divX = i;
                                var divY = j;
                                var id = $"{i}-{j}";
                                        <div class="text-md-center @GetBorderClass(i,j) tictactoe-cell" style="width: @CalculateRowWidth();" id="@id">
                                            <BoardField X=divX Y=divY OnButtonClicked="FieldClicked" GameState="GameState" />
                                        </div>
                            }
                            }
                        </div>
                }
            }
        </span>

    </div>
</div>
